body {
    margin: 0;
    padding: 0;
}

div {
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}

#buttony {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

button {
    width: 30%;
    background-color: #e6bced;
}

#b1 {
    margin-right: 1em;
}

#b2 {
    margin-left: 1em;
}